---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<main>
    <h1 class="max-w-[30ch] text-4xl font-bold text-neutral-800 md:text-5xl">
        Unlock Your Fitness Potential: Access Exclusive Free Resources!
    </h1>
</main>
<section {...storyblokEditable(blok)}>
    {
        blok.body?.map((blok) => {
            return <StoryblokComponent blok={blok} />;
        })
    }
</section>
