---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";
import FreeResource from "../components/FreeResource.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
    version: import.meta.env.DEV ? "draft" : "published",
    content_type: "freeResource",
});

const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        thumbnail: story.content.thumbnail.filename,
        formID: story.content.formID,
        content: story.content.content,
        buttonText: story.content.buttonText,
        slug: story.full_slug,
    };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)} class="mt-16 grid gap-8 md:grid-cols-2">
    {
        posts.map((post) => (
            <li>
                <FreeResource
                    to={post.slug}
                    thumbnail={post.thumbnail}
                    title={post.title}
                    btnText={post.buttonText}
                />
            </li>
        ))
    }
</ul>
