---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

import BlogPost from "../components/BlogPost.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
    version: import.meta.env.DEV ? "draft" : "published",
    content_type: "blogPost",
});

const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        date: new Date(story.published_at).toLocaleDateString("en-US", {
            dateStyle: "medium",
        }),
        description: story.content.description,
        slug: story.full_slug,
    };
});

const { blok } = Astro.props;
---

<ul
    {...storyblokEditable(blok)}
    class="mt-16 space-y-8 md:border-l md:border-neutral-200 md:pl-6"
>
    {
        posts.map((post) => (
            <li>
                <BlogPost
                    to={post.slug}
                    title={post.title}
                    desc={post.description}
                    date={post.date}
                />
            </li>
        ))
    }
</ul>
