---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
    version: import.meta.env.DEV ? "draft" : "published",
    content_type: "freeResource",
});

const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        thumbnail: story.content.thumbnail,
        formID: story.content.formID,
        content: story.content.content,
        slug: story.full_slug,
    };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)}>
    {
        posts.map((post) => (
            <li>
                <a href={post.slug}> hello world</a>
            </li>
        ))
    }
</ul>
