@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.mjs";

/* 
  1. sets the global font
*/
html {
    font-family: system-ui, sans-serif;
}

/* 
  2. Remove scroll bar but keeps the scroll behaviour
*/

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}
