---
import ButtonLink from "../../components/ButtonLink.astro";
---

<section
    class="mt-16 flex flex-col items-center justify-center space-y-6 text-center"
>
    <h2 class="text-4xl font-semibold text-neutral-800 md:text-5xl">
        Do you have a question <br />I didn't answer?
    </h2>
    <p class="text-base text-neutral-600">
        Reach out, and I'll promptly address your inquiries.
    </p>
    <ButtonLink intent="primary">Contact me</ButtonLink>
</section>
