---
import packages from "../../js/packages";
import { Icon } from "astro-icon/components";

import ButtonLink from "../../components/ButtonLink.astro";
---

<section class="mt-16 grid gap-8 md:grid-cols-2">
    {
        packages.map((item) => (
            <div class="relative mt-auto cursor-pointer space-y-6 overflow-clip rounded-2xl border border-neutral-200 p-6 transition-colors focus:border-orange-300 focus:outline-none">
                <div class="space-y-4">
                    <h3 class="flex items-center gap-3 text-sm font-bold text-neutral-800">
                        <Icon name={item.icon} class="text-2xl" />
                        <span>{item.packageName}</span>
                    </h3>
                    <p class="max-w-prose text-xs font-light text-neutral-600">
                        {item.packageDesc}
                    </p>
                    <ButtonLink intent="primary" classList="max-w-full">
                        schedule a call
                    </ButtonLink>
                    <ul class="space-y-6">
                        {item.packageFeatures.map((feature) => (
                            <li class="flex items-start gap-3 text-sm text-neutral-600">
                                <Icon
                                    name="ph:check-circle"
                                    class="min-w-fit text-2xl"
                                />
                                <span>{feature}</span>
                            </li>
                        ))}
                    </ul>
                </div>

                <div class="absolute left-0 top-0 -z-10 size-5/12 bg-primary-200 blur-[150px]" />
            </div>
        ))
    }
</section>
